[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
gpiozero = "*"
pigpio = "*"
jinja2 = "*"
aiofiles = "*"
python-multipart = "*"
# ADAFRUIT DHT from https://github.com/adafruit/Adafruit_Python_DHT.git
scipy = "*"
cython = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "uvicorn main:app --host=0.0.0.0 --port 3000 --reload"
prod = "uvicorn main:app --host=0.0.0.0"
