<html>
  <head>
    <title>LED Colors</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">  
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  </head>
  <body>
    <section class="hero is-medium is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Graphs
          </h1>
          <h2 class="subtitle">
            Beautiful graphs
          </h2>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="columns">
        <div class="column">
          <canvas id="tempChart" width="400" height="250"></canvas>
        </div>
        <div class="column">
          <canvas id="humChart" width="400" height="250"></canvas>
        </div>
      </div>
    </div>

    <script>
      const REFERENCE_TIMESTAMP = 1577836800

      var tempCtx = document.getElementById('tempChart').getContext('2d');
      var humCtx = document.getElementById('humChart').getContext('2d');

      fetch("/data")
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          console.log(jsonResponse);

          tempData = jsonResponse.temperature.map(entry => ({
            x: new Date((entry[2] + REFERENCE_TIMESTAMP)*1000),
            y: entry[1],
          }))
          humData = jsonResponse.humidity.map(entry => ({
            x: new Date((entry[2] + REFERENCE_TIMESTAMP)*1000),
            y: entry[1],
          }))

          const sharedOptions = {
            responsive: true,
            elements: {
                point:{
                    radius: 0
                }
            },
            scales: {
              xAxes: [{
                  type: 'time',
              }]
            },
          }
          var tempChart = new Chart(tempCtx, {
              type: 'line',
              data: {
                datasets: [
                  {
                    label: "Temperature (°C)",
                    data: tempData,
                    borderColor: "#3cba9f",
                    fill: false,
                  },
                ]
              },
              options: {
                ...sharedOptions,
                title: {
                  display: true,
                  text: 'Temperature at home'
                }
              }
          });
          var humCHart = new Chart(humCtx, {
            type: 'line',
            data: {
              datasets: [
                {
                  label: "Humidity (%)",
                  data: humData,
                  borderColor: "#3e95cd",
                  fill: false,
                }
              ]
            },
            options: {
              ...sharedOptions,
              title: {
                display: true,
                text: 'Humidity at home'
              }
            }
          });
        });
    </script>
    <script>
      var initial_color = "{{ color }}"
      var is_on = "{{ is_on }}" == "True"

      function change_color(event, color) {
        var request = new XMLHttpRequest();
        request.open('POST', "/color", true);
        request.onerror = function() {
            console.error("Something went wrong submitting the form.")
        };

        request.send(`{ "color": "${color}" }`);

        if (color !== "#000000") {
          is_on = true
        }
      }

      function toggle_on_off(event) {
        if (is_on) {
          change_color({}, "#000000")
          is_on = false
        } else {
          change_color({}, "#FF5800")
        }
      }

      document.getElementById("colorPicker").onchange = function() {
        console.log(this.value);
        change_color({}, this.value)
      }
    </script>

</html>